<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录·约拍吧</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/js/common.js"></script>
    <!-- <script src="../../static/js/less.min.js" type="‘’text/javascript"></script> -->
</head>
<body>
<nav class="navbar navbar-fixed-top bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="/static/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="form-inline navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="loginUsername" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="密码">
                </div>
                <input value="登录" type="button" class="btn btn-default" onclick="login()"/>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">注·册</h2>
        <label for="registerTel" class="sr-only">手机号</label>
        <input type="tel" id="registerTel" class="form-control" placeholder="手机号" required autofocus>
        <label for="registerName" class="sr-only">昵称</label>
        <input type="text" id="registerName" class="form-control" placeholder="昵称" required>
        <label for="registerPassword" class="sr-only">密码</label>
        <input type="password" id="registerPassword" class="form-control" placeholder="密码" required>
        <label for="registerConfirmPassword" class="sr-only">确认密码</label>
        <input type="password" id="registerConfirmPassword" class="form-control" placeholder="确认密码" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">记住密码
            </label>
        </div>
        <input value="注册" class="btn btn-lg btn-primary btn-block" type="button" onclick="register()"/>
    </form>

</div> <!-- /container -->

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>